<div class="left">
    <a id = "dropdown" onclick = "dropdown()" hidden><i class = "fa fa-bars"></i></a>
    <a href="/"><img src="/Assets/Images/2.png" id="logo"></a>
    <a href="/featured">FEATURED</a>
    <a href="/archives">ARCHIVE</a>
    <a href="/magazine">MAGAZINE</a>
    <a href="/join">JOIN US</a>
    <a href="mailto:{{site.email}}"><i class = "fa fa-envelope"></i></a>
</div>
<div class="right">
    <div class="search">
        <i class="fa fa-search"></i>
        <form action = "/search" method = "get">
            <input type = "text" placeholder="Search" name = "query" id = "search-box">
        </form>
    </div>
</div>
<div id = "dropdown-menu" hidden>
  <a href="/">HOME</a>
  <a href="/featured">FEATURED</a>
  <a href="/archives">ARCHIVE</a>
  <a href="/magazine">MAGAZINE</a>
  <a href="/join">JOIN US</a>
  <a href="mailto:{{site.email}}">CONTACT US</a>
</div>
