#content {
    text-align: center;
    #home {
        margin: 0 auto;
        width: 70vw;
        padding: $universal-padding 0 $universal-padding;
        #featured-posts {
            height: 450px;
            margin: 30px 0 30px;
            display: flex;
            .wrap{
                flex: 1;
            }
            section {
                width: 100%;
                height: 50%;
                position: relative;
                a{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 80;
                }
                .img {
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 100%;
                    height: 100%;
                }
                .textbox {
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                    text-align: left;
                    background:rgba(0,0,0,0.5);
                    padding: 5px;
                    h1 {
                        color: $light-gray;
                    }
                    p.description {
                        color: #fff;
                    }
                    p.subtitle {
                        margin: 0;
                        font-family: montserrat;
                        font-size: 0.9em;
                        color: $light-blue;
                        span {
                            text-transform: uppercase;
                        }
                    }
                }
                
            }
            section.img-large {
                width: 67%;
                height: 100%;
                .textbox{
                    bottom: 20px;
                    left: 20px;
                }
            }
        }
        .post-list,
        #categories {
            width: 100%;
            section {
                width: 100%;
                margin-top: 10px;
                position: relative;
                a {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
                h3 {
                    font-family: montserrat;
                    color: $black;
                    margin: 0;
                }
                p {
                    margin: -5px 0 7px;
                    font-family: sourcesanspro;
                    color: $gray;
                }
                p.subtitle {
                    margin: 0;
                    font-family: montserrat;
                    font-size: 0.9em;
                    color: $light-blue;
                    span {
                        text-transform: uppercase;
                    }
                }
            }
        }
        
        #home-grid {
            width: 100%;
            display: flex;
        }
        #recent {
            width: 65%;
            margin-right: 30px;
        }
        #categories {
            flex: 1;
            section {
                margin-bottom: 10px;
            }
        }
        #recent,
        #categories {
            text-align: left;
            h1 {
                font-size: 1em;
            }
            hr {
                border-top: 2px solid $black;
            }
        }
        #about {
            p {
                width: 60%;
                margin: 0 auto;
                color: $gray;
                font-family: sourcesanspro;
                text-align: justify;
            }
        }
        #subscribe {
            background-color: #dcdcdc;
        }
    }
    #masthead {
        width: 80%;
        height: auto;
    }
}
#announcements {
    text-align: left;
}
