@media screen and (max-width: 1200px){
    #content{
        #home{
            width: 80vw;
        }
    }
}

@media screen and (max-width: 800px){
    #content{
        #home{
            #featured-posts{
                height: 675px;
                display: block;
                position: relative;
                .wrap{
                    flex: initial;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 33.33%;
                    section{
                        width: 50%;
                        display: inline-block;
                        height: 100%;
                        margin-left: -3px;
                        &:nth-child(1){
                            margin-left: 0px;
                            margin-right: -1.5px;
                        }
                    }
                }
                section.img-large {
                    height: 66.666%;
                    width: 100%;
                    position: relative;
                }
            }
            #about p{
                width: 70%;
            }
        }
    }
}

@media screen and (max-width: 600px){
    nav{
      .left a{
        display: none;
      }
      #dropdown{
        display: inline;
        cursor: pointer;
      }
    }
    #content{
        padding-bottom: 100px;
        #announcements{
          box-sizing: border-box;
          h2{
            display: none;
          }
          padding: 5px 20px 5px 20px;
          height: auto;
          p{
            line-height: 1em;
          }
        }
        #home{
            width: 90vw;
            #home-grid{
                display: block;
            }
            #recent {
                width: 100%;
                margin: 0 0 20px;
            }
            #categories {
                width: 100%;
                section {
                    margin-bottom: 10px;
                }
            }
            #recent, #categories{
                text-align: center;
            }
            #featured-posts {
                .wrap{
                    section{
                        width: 100%;

                        &:nth-child(1){
                            margin: 0 0 -6px;
                        }
                        margin: 0 0 -6px 0;
                        .textbox{
                            transform: translateX(-50%);
                            left: 50%;
                        }
                    }
                }
                section{
                    .textbox{
                        margin: 0 auto;
                        width: 80%;
                    }
                    width: 100%;
                }
            }
            #about.home{
                margin-top: 260px;
                p{
                    width: 80%;
                }
            }
        }
    }
    footer{
        height: 50px;
        text-align: center;
        display: block;
        padding-top: $universal-padding;
        padding-bottom: $universal-padding;
        p,a{
            line-height: 1em;
        }
        .left, .right{
            width: 100%;
            padding: 0;
        }
        .right{
            text-align: center;
        }
    }
    #announcements{
        h2{
            background: #c4c4c4;
            padding-left: $universal-padding / 2;
            width: 120px;
            margin-right: $universal-padding / 2 + 10px;
        }
    }
    header{
        text-align: center;
        width: 100%;
        padding: $universal-padding;
    }
}
