html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
#wrapper {
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
}
#content {
    padding-bottom: 60px;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 60px;
}
.right {
    flex: 1;
    text-align: right;
}
h1,
p {
    margin: 0;
    padding: 0;
}
.bodybox {
    width: 100%;
    margin: 0;
    padding: 0;
}
.banner {
    width: 100%;
    height: 200px;
    margin: 30px 0 30px;
    h1{
        font-size: 1.2em;
    }
    p{
        font-family: sourcesanspro;
        color: $gray;
        a{
            font-family: sourcesansprobold;
            color: $black;
            text-decoration: none;
            &:hover{
                color: $blue;
            }
        }
    }
    .text, .submit{
        height: 40px;
        font-family: montserrat;
        box-sizing: border-box;
        border: none;
        font-size: 0.9em;
        padding: 0 20px 0 20px;
        margin: 0;
    }
    
    .text{
        width: 200px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 7px;
        margin-bottom: 7px;
        color: #464646;
    }
    .submit{
        background-color: #7ab5de;
        color: $gray;
        cursor: pointer;
        margin-left: -4.5px;
    }
}
.center{
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

*:focus{
    outline: 0;
}

.popup{
    h1{
        margin: 0;
    }
    p{
        margin-top: -20px;
    }
}