---
layout: default
title: Blue Moon
---

{% unless page.content == '' %}
{% endunless %}

<h1></h1>

<div id = "home">
  <div class = "header-line">
      <span>
          {{page.category}}
      </span>
  </div>

  <div class = "post-list">
    {% for post in site.categories.[page.category] %}
      <section>
        <a href="{{ post.url | prepend: site.baseurl }}"></a>
        <h3>{{ post.title | escape }}</h3>
        <p>{{post.description}}</p>
        <p class="subtitle">
            <span>{{post.author}}</span> • {{ post.date | date: "%b %d, %Y" }}
        </p>
      </section>
    {% endfor %}
    {% unless site.categories.[page.category] | size > 0 %}
      <h1>Currently no articles in {{page.category}}</h1>
    {% endunless %}
  </div>
</div>
