<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{page.title}}</title>

    <link href="/Assets/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="/Assets/swal/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/Assets/swal/dist/sweetalert.css">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="/Assets/Images/1.png">
</head>

<body>
    <div id="wrapper">
        <nav>
            {% include nav.html %}
        </nav>

        <header>
            {% include header.html %}
        </header>

        <div id="content">
            <div id = "colorstrip"></div>
            {{ content }}
        </div>

        <footer>
            {% include footer.html %}
        </footer>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/Assets/JS/main.js"></script>
    {% if page.search %}
      <script src="/Assets/JS/search.js"></script>
    {% endif %}
</body>

</html>
