<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blue Moon</title>

    <link href="/css/post.css" rel="stylesheet" type="text/css">
    <link href="/Assets/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="wrapper">
        <nav>
            {% include nav.html %}
        </nav>
        
        <header>
            {% include header.html %}
        </header>
        
        <div id="content">
            <h1>{{page.title}}</h1>
            <p class = "description">
                {{page.description}}
            </p>
            <p class = "subtitle">
                by <a href = "mailto:{{page.email}}">{{page.author}}</a> in <a href = "">{{page.category}}</a>
                <br>
                
                <span><i class = "fa fa-calendar"></i> {{ page.date | date: '%B %d, %Y' }}</span>
                {% if {{page.featured}} %}
                    <span><i class = "fa fa-star"></i> Featured</span>
                {% endif %}
            </p>
            
            <br>
            {{ content }}
            
            <p id = "tags">
                <br>
                <br>
                
                {% for tag in {{page.tags}} %}
                    <span>{{tag}}</span>
                {% endfor %}
            </p>
            
            <div id = "sources">
                <br>
                <div class = "header-line">
                    <span>
                        SOURCES
                    </span>
                </div>
            </div>
        </div>

        <footer>
            {% include footer.html %}
        </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>

</html>
